@import url('./hero-section.module.css');

@keyframes toBottom{
    from {opacity : 0;
        transform : translateY(-40px);
    }
    to{
        opacity : 1;
        transform : translateY(0);
    }
} 
.art-collage{
    opacity : 0;
    padding : 0px 40px 0px 40px;
    animation : toBottom 0.5s ease-in-out 1.5s forwards;  
}

.collage-text{
    opacity : 0;
    padding-left : 40px;
    width : 100%;
    margin : 0 0 0 20px;
    text-align : left;
    font-family :'Courier New', Courier, monospace;
    font-size : clamp(20px, 2.5vw, 30px);
    -webkit-text-stroke-width : 1px;
    -webkit-text-stroke-color : white;
    letter-spacing: 4px;
    animation : toBottom 0.5s ease-in-out 1.5s forwards;  
}

.artworks{
    margin-top : 20px;
    width : 100%;
    min-height : 100px;
    -webkit-column-width :  clamp(180px, 25vw, 325px);
    -moz-column-width : clamp(180px, 25vw, 325px);
    column-width : clamp(180px, 25vw, 325px);
    flex-shrink : 1;
}

.artwork{
    width : 100%;
    height : auto;
}

.artworks button{
    margin-top : 20px;
    width : 100%; 
    height : auto;
    border : none;
    background-color : none;
    background : none;
    overflow : hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding : 0px;
    border-radius : 20px;
}



.artworks button::before{
    content : "";
    transition : background-color 0.3s ease, content 0.3s ease;
}

.artwork{
    outline : none;
    border : none;
    background-color: transparent;
}
.artworks button:hover{
    position : relative;
    cursor : pointer;
    transform : translateY(-5px);
    box-shadow : 0px 8px 20px 7px #000000;   
}


.artwork-container{
    margin-top : 20px;
    width : 100%; 
    height : auto;
    border : none;
    background-color : none;
    background : none;
    overflow : hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding : 0px;
    border-radius : 20px;
}

@keyframes fadeIn{
    from { opacity : 0; }
    to { opacity : 1 ;}

}

.onHover{
    opacity : 0;
    color : white;
    align-content : center;
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background-color : rgba(0, 0, 0, 0.5);
    animation : fadeIn 0.2s ease-in-out forwards;
    font-size : 1.5em;
    font-weight : 600;
}