.hero-section{
    display : flex;
    flex-direction: row;
    background-color: aqua;
    padding : 40px;
}



.artist-introduction{
    margin : 0px;
    padding : 0px;

    background-color: blue;
    width : 60%;
    text-align : left;
    font-family : Italiana;
    font-size : clamp(25px, 10vw, 60px);
    -webkit-text-stroke-width : 1px;
    -webkit-text-stroke-color : white;
}

.name{
    color : rgb(255, 121, 32);
    -webkit-text-stroke-width : 1px;
    -webkit-text-stroke-color : rgb(255, 121, 32);
}
.about-me{
    margin : 0px;
    background-color: blue;
    margin-top: 20px;
}

.text-area{
    display : flex;
    flex-direction : column;
    align-items: start;
    background-color: green;
    padding : 0px;    
}


.artist-name{
    text-align : center;
}

.about-me{
    /* background-color: blue; */
    width : 80%;
}

.hero-image-container{
    background-color: blue;
    position : relative;
    flex-basis : clamp(75px, 20vw, 500px);
    height : clamp(75px, 20vw, 500px);
    overflow : hidden;
}

.image{
    position : absolute;
    top : -50px;
    right : -50px;
}

