.header-class{
    font-family : Italiana;
}

.hero-image-container{
    background-color : blue;
    width : 20vw;    
}

.name-area{
    font-family : Italiana;
    font-size : clamp(25px, 10vw, 70px);
    -webkit-text-stroke-width : 1px;
    -webkit-text-stroke-color : white;
}

