:root{
    --outer-padding : 40px;
    --text-margin : 20px 0 0 20px;
}

.services-container{
    /* background-color: blue; */
    padding : var(--outer-padding);
    /* background-color: black; */
    display : flex;
    flex-direction : column;
    align-items: center;
}

.services-text{
    width : 100%;
    /* background-color: aqua; */
    margin : var(--text-margin);
    text-align : left;
    font-family :'Courier New', Courier, monospace;
    font-size : clamp(25px, 5vw, 40px);
    -webkit-text-stroke-width : 1px;
    -webkit-text-stroke-color : white;
    letter-spacing: 4px;
}


.service-item{
    background-color: blue;
    width : 10vw;
    height : 10vw;
}  


.services-box{
    margin-top : 40px;
    /* background-color : green; */
    display : flex;
    justify-content: space-around;
    flex-wrap : wrap;
    width : 75%;
    gap : 50px;
}