:root{
    --outer-padding : 40px;
    --text-margin : 20px 0 0 20px;
}

.services-container{
    /* background-color: blue; */
    padding : var(--outer-padding);
    /* background-color: black; */
    display : flex;
    flex-direction : column;
    align-items: center;
}

.services-text{
    width : 100%;
    /* background-color: aqua; */
    margin : var(--text-margin);
    text-align : left;
    font-family :'Courier New', Courier, monospace;
    font-size : clamp(25px, 5vw, 40px);
    -webkit-text-stroke-width : 1px;
    -webkit-text-stroke-color : white;
    letter-spacing: 4px;
}

/* General container styling */
.service-item {
    /* background-color: blue; */
    width : 10vw;
    height : auto;
}  


.service-button{
    width : 10vw;
    height : 10vw;
    background-color: transparent;
    border : none;
    /* background : url(/Vector.svg) no-repeat; */
    /* background-size : cover; */
}

.service-button:hover{
    cursor:pointer;
    background-position: 0px;
    
}
.services-box{
    margin-top : 40px;
    /* background-color : green; */
    display : flex;
    justify-content: space-around;
    flex-wrap : wrap;
    width : 75%;
    gap : 50px;
    text-align : center;
}

.service-img{
    width : 100%;
    height : 100%;
    margin-bottom : 20px;
    transition : transform 0.3s ease, filter 0.2s ease;
}

.service-img:hover{
    filter : drop-shadow(0 0 10px #9794ff);
    transform : translateY(-10px);
}

/* for the text */

.service-item{
    font-family : Italiana;
    -webkit-text-stroke-color: white ;
    -webkit-text-stroke-width : 0.5px;
    font-size : 1.5em;
}