@import url('./hero-section.module.css');


@keyframes fadeIn{
    from {opacity : 0;
        transform : translateY(-40px);
    }
    to{
        opacity : 1;
        transform : translateY(0);
    }
} 

.services-container{
    opacity : 0;
    /* background-color: blue; */
    padding : var(--outer-padding);
    /* background-color: black; */
    display : flex;
    flex-direction : column;
    align-items: center;
    animation : fadeIn 1s ease-in-out forwards 1s; 
}

.services-text{
    width : 100%;
    /* background-color: aqua; */
    margin : var(--text-margin);
    text-align : left;
    font-family :'Courier New', Courier, monospace;
    font-size : clamp(20px, 2.5vw, 30px);
    -webkit-text-stroke-width : 1px;
    -webkit-text-stroke-color : white;
    letter-spacing: 4px;
}

/* General container styling */
.service-item {
    width : 10vw;
    min-width : 100px;
    height : auto;
}  


.service-button{
    width : 10vw;
    height : 10vw;
    min-width : 120px;
    min-height : 120px;
    background-color: transparent;
    border : none;
}

.service-button:hover{
    cursor:pointer;
    background-position: 0px;
}

.services-box{
    margin-top : 40px;
    /* background-color : green; */
    display : flex;
    justify-content: space-around;
    flex-wrap : wrap;
    min-width : 100px;
    width : 75%;
    gap : 50px;
    text-align : center;
}

.service-img{
    width : 100%;
    height : 100%;
    margin-bottom : 20px;
    transition : transform 0.3s ease, filter 0.2s ease;
}

.service-img:hover{
    filter : drop-shadow(0 0 10px #9794ff);
    transform : translateY(-10px);
}

/* for the text */

.service-item{
    font-family : monospace;
    /* background-color: blue; */
    -webkit-text-stroke-color: white ;
    -webkit-text-stroke-width : 0px;
    font-size : 1.5em;
    display : flex;
    flex-direction : column;
    align-items: center;
    gap : 20px;
}