:root{
    --outer-padding : 40px;
    --text-margin : 20px 0 0 20px;
    --header-size : clamp(10px, 5vw, 60px);
}

@keyframes fadeIn{
    from {opacity : 0;
        transform : translateY(-40px);
    }
    to{
        opacity : 1;
        transform : translateY(0);
    }
} 
.header{
    opacity : 0;
    display : flex;
    flex-direction: row;
    padding : var(--outer-padding);
    padding-bottom : 0px;
    animation : fadeIn 1s ease-in-out forwards 0.5s;
    /* background-color: blue; */
    align-items: center;
}

.text-area{
    display : flex;
    flex-direction : column;
    justify-content: space-evenly;
    align-items: start;
    /* background-color: green; */
    padding : 0px;    
    margin : 0px;
    width : 65%;
    font-size : clamp(20px, 2vw, 25px);
}
.artist-greeting{
    margin : var(--text-margin);
    padding : 0px;
    /* background-color: blue; */
    text-align : left;
    font-family : Italiana;
    font-size : var(--header-size);
    -webkit-text-stroke-width : 1px;
    -webkit-text-stroke-color : white;
}


.brief-introduction{
    margin : var(--text-margin);
    color : rgb(135, 142, 253);;
    font-family : monospace; 
    font-size : clamp(15px, 2vw, 21px);
    width : 80%;
    font-weight : 800;
}

.about-me{
    margin : 20px 0 0 20px;
    background-image : linear-gradient(to right, rgb(255, 255, 255) 75%, rgb(107, 206, 255));
    -webkit-background-clip: text;
    background-clip : text;
    -webkit-text-fill-color: transparent;
    width : 80%;
    font-family : monospace;
}
.outer-image-container{
    width : 30vw;
    min-width : 350px;
    max-width : 450px;
    height: 30vw;
    max-height : 450px;
    min-height : 350px;
    background-color: rgb(152, 163, 186);
    display : flex;
    border-radius : 100%;
    justify-content: center;
    align-items: center;
    box-shadow : 0px 0px 25px 15px rgb(7, 46, 118);
}



.hero-image-container{
    /* background-color: blue; */
    position : relative;
    width : 80%;
    height : 80%;
    border-radius : 100%;
    overflow : hidden;
    box-shadow : 0px 0px 25px 15px rgb(29, 36, 49);
}

.image{
    position : absolute;
    width : 110%;
    height : 110%;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
}

@media screen and (max-width : 800px){
    .header{
        opacity : 0;
        flex-direction : column-reverse;
        padding : 0;
    }
    .outer-image-container{
        margin-top : 40px;
    }
    .artist-greeting{
        margin : 0;
        margin-top : 30px;
        padding : 0px;
        /* background-color: blue; */
        text-align : left;
        font-family : Italiana;
        font-size : 50px;
        -webkit-text-stroke-width : 1px;
        -webkit-text-stroke-color : white;
    }

    .text-area{
        display : flex;
        flex-direction : column;
        justify-content: space-evenly;
        align-items: start;
        /* background-color: green; */
        padding : 0px;    
        margin : 0px;
        width : 85%;
        font-size : 20px;
    }

    .brief-introduction{
        margin : 0;
        margin-top : 20px;
        color : rgb(135, 142, 253);;
        font-family : monospace; 
        font-size : 18px;
        width : 100%;
        font-weight : 900;
    }

    .about-me{
        margin : 0;
        margin-top : 20px;
        background-image : linear-gradient(to right, rgb(255, 255, 255) 75%, rgb(107, 206, 255));
        -webkit-background-clip: text;
        background-clip : text;
        -webkit-text-fill-color: transparent;
        width : 80%;
        font-family : monospace;
    }
}