.credential{
    /* background-color: blue; */
    width : 90%;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.institution-program h3{
    font-size: clamp(20px, 1.25vw, 100px);
}

.institution-program p{
    font-size : clamp(15px, 1vw, 75px);
}

.timeline{
    font-size : clamp(15px, 1vw, 75px);
}

@media screen and (max-width : 700px) {
    .credential
    {
        width : 100%;
    }
    .timeline{
        flex-basis : 50%;
        text-align : end;
    }
}