.social-link{
    display : flex;
    flex-direction : column;
    align-items : center;
    color : white;
    text-decoration : none;
    gap : 20px;
    font-family : Monospace;
    font-size : 20px;
}


.social-icon{
    height : 100px;
    width : 100px;
    border-radius : 100%;
    transition : transform 0.5s ease, box-shadow 0.5s ease;
    
}

.social-icon:hover{
    transform : translateY(-20px);
    box-shadow : 0px 0.15px 5px 7px rgba(0, 0, 0, 0.85);
}

.socials-text{
    padding-left : 40px;
    
    width : 100%;
    /* background-color: aqua; */
    margin : var(--text-margin);
    /* margin-bottom : 20px; */
    text-align : left;
    font-family :'Courier New', Courier, monospace;
    font-size : clamp(20px, 2.5vw, 30px);
    -webkit-text-stroke-width : 1px;
    -webkit-text-stroke-color : white;
    letter-spacing: 4px;
}

.socials{
    padding : 20px;
    /* background-color: blue; */
    display : flex;
    flex-direction : row;
    justify-content: center;
    align-items: center;
    gap : 40px;
}