@import url('../../main-page/styles/hero-section.module.css');
.service-sample-div{
    padding : var(--outer-padding);
    /* background-color: blue; */
    /* width : 100%; */
    height : auto;
}

.service-text{
    /* background-color: aqua; */
    margin : var(--text-margin);
    text-align : left;
    font-family :'Courier New', Courier, monospace;
    font-size : clamp(20px, 2.5vw, 30px);
    -webkit-text-stroke-width : 1px;
    -webkit-text-stroke-color : white;
    letter-spacing: 4px;
    margin-bottom : 30px;
}

.service-works{
    /* gap : 20px; */
    /* background-color: blue;     */
    position : relative;
    width : 100%;
    height : auto;
    max-height : 500px;
    padding : 0px;
    margin : 0px;
    display : flex;
    flex-direction : row;
    overflow-x : hidden;
    justify-content: center;
    align-items: center;
    mask-image : linear-gradient(
        to bottom,
        transparent,
        black var(--mask-height),
        black calc(70% - var(--mask-height)),
        transparent
    );
    
}

.service-works::-webkit-scrollbar{
    /* display : none; */
}

@keyframes spin{
    from { translate : 0;}
    to { translate : -100%; }
}
.group{
    width : auto;
    /* background-color: aqua; */
    display : flex;
    flex-direction : row;
    gap : 20px;
    padding-right : 20px;
    align-items: center;
    justify-content: center;

    animation : spin 5s infinite linear;
}

.artwork-container{
    position : relative;
    height : 500px;
    max-height : 450px;
    background-color: transparent;
    border : none;
    border-radius : 20px;
    overflow : hidden;
    padding: 0px;
    margin : 0px;
}

.artwork-container:hover{
    cursor : pointer;
}

.artwork{
    height : 100%;
    width : auto;
}


@keyframes fadeIn{
    from { opacity : 0; }
    to { opacity : 1 ;}
}

.onHover{
    opacity : 0;
    color : white;
    align-content : center;
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background-color : rgba(0, 0, 0, 0.5);
    animation : fadeIn 0.2s ease-in-out forwards;
    font-size : 1.5em;
    font-weight : 600;
}
